/*********************************************
 * Custom Styles
 *********************************************/
.reveal section img {
  border: 2px solid #3b5989;
  max-height: 650px; }

.reveal section img.no-border {
  border: none;
  box-shadow: none;
  background: none; }

.reveal .example-button {
  display: inline-block;
  padding: 30px;
  color: white;
  border: 2px solid #00003f;
  border-radius: 18px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ccaf4+0,73b1e7+24,1d81d3+50,539fe1+79,87bcea+100 */
  background: #9ccaf4;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #9ccaf4 0%, #73b1e7 24%, #1d81d3 50%, #539fe1 79%, #87bcea 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9ccaf4 0%, #73b1e7 24%, #1d81d3 50%, #539fe1 79%, #87bcea 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ccaf4', endColorstr='#87bcea',GradientType=0 );
  /* IE6-9 */ }

.reveal .example-button.crashed {
  height: 1px; }

.reveal .table {
  display: table;
  width: 100%; }

.reveal .table-cell {
  display: table-cell; }

.reveal pre {
  font-size: inherit; }

.reveal .bottom {
  margin-top: 100px;
  text-align: left; }

.reveal .big {
  width: 400px; }

.reveal pre {
  position: relative; }

.reveal #cross-1 {
  height: 5px;
  width: 900px;
  background-color: red;
  position: absolute;
  top: 20px;
  left: -20px;
  opacity: 0; }

.reveal #cross-2 {
  height: 5px;
  width: 900px;
  background-color: red;
  position: absolute;
  top: 20px;
  left: -20px;
  opacity: 0; }

.animate-cross1 {
  -webkit-animation: spin1 .5s 1s ease-out forwards;
          animation: spin1 .5s 1s ease-out forwards; }

.animate-cross2 {
  -webkit-animation: spin2 .5s 1s ease-out forwards;
          animation: spin2 .5s 1s ease-out forwards; }

@-webkit-keyframes spin1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); } }

@keyframes spin1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); } }

@-webkit-keyframes spin2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); } }

@keyframes spin2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); } }
